-- Generated by scripts/fetch_statements.ts from Yahoo Finance on 2026-07-16.
-- REAL annual figures (not placeholders). Regenerate quarterly:
--   deno run --allow-net supabase/scripts/fetch_statements.ts > seed.generated.sql
-- Values in SAR; net_profit_yoy / gross_margin / debt_ratio in %.

insert into public.financial_statements
    (code, period, revenue, net_profit, net_profit_yoy, gross_margin, debt_ratio, reported_at) values
    ('2222', 'FY-2025', 1671204000000, 348042000000, -11.64, 50.16, 14.25, '2025-12-31'),
    ('1120', 'FY-2025', 38967166000, 24791754000, 25.7, 63.62, 7.7, '2025-12-31'),
    ('7010', 'FY-2025', 77818675000, 14828030000, -39.94, 48.45, 11.08, '2025-12-31'),
    ('2010', 'FY-2025', 116525214000, -25779231000, -1775.56, 18.02, 15.17, '2025-12-31'),
    ('1180', 'FY-2025', 40843879000, 25013279000, 18.03, 61.24, 11.01, '2025-12-31'),
    ('1211', 'FY-2025', 38577730228, 7347878280, 155.89, 38.34, 28.26, '2025-12-31'),
    ('2082', 'FY-2025', 7413501000, 1852225000, 5.42, 50.78, 43.99, '2025-12-31'),
    ('7203', 'FY-2025', 9464884988, 2090353004, 14.42, 38.85, 22.1, '2025-12-31')
on conflict (code, period) do update
    set revenue = excluded.revenue, net_profit = excluded.net_profit,
        net_profit_yoy = excluded.net_profit_yoy, gross_margin = excluded.gross_margin,
        debt_ratio = excluded.debt_ratio, reported_at = excluded.reported_at;

insert into public.fundamentals (code, pe, market_cap, dividend_yield) values
    ('2222', 18.53, 6448444833333, null),
    ('1120', 16.53, 409699627000, null),
    ('7010', 14.54, 215580584310, null),
    ('2010', null, null, null),
    ('1180', 9.46, 236726168998, null),
    ('1211', 29.4, 216012233205, null),
    ('2082', 74.37, 137754547571, null),
    ('7203', 23.99, 50152872447, null)
on conflict (code) do update
    set pe = excluded.pe, market_cap = excluded.market_cap,
        dividend_yield = excluded.dividend_yield, updated_at = now();
